.navbar
  padding: 7px 0 8px 0
  &__logo 
    margin-top: 2px
  &-block
    display: flex
    min-height: 90px
    justify-content: space-between
    align-items: center
  &__info
    display: flex
    align-items: center
    text-align: right
    margin-top: 24px
    margin-bottom: 24px
  &__contacts
    display: flex
    flex-direction: column  
  &__button
    margin-left: 30px
  &__phone 
    display: inline-block
    color: $text-color
    font-family: "Museo Sans Cyrl 700"
    font-size: 20px
    font-weight: bolder
    text-decoration: none
  &__address
    color: $text-color
    font-family: "Museo Sans Cyrl 300"
    font-size: 13px
    font-weight: bolder
    margin-bottom: 7px
@media (max-width: 760px)
  .navbar
    &__contacts
      display: none
    &__button
      font-size: 12px
      padding: 15px 26px
    &__logo
      width: 96px
@media (max-width: 567px)
  .navbar
    &__logo
      width: 91px
      margin-left: 23px
      margin-top: 4px
    &__button 
      font-size: 10px
      margin-right: 20px
      border-radius: 5px;
      font-family: "Museo Sans Cyrl 700"
      font-weight: 400
      padding: 14px 26px 13px 26px
   


  
    
   


